@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

/* General */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  list-style: none;
  border-bottom: 1px #63b4b8 solid;
  word-wrap: break-word;
}

li i {
  cursor: pointer;
  margin-top: 0.5rem;
}
.container {
  max-width: 1100px;
  margin: 1rem auto;

  font-family: 'Architects Daughter', cursive;
}

::placeholder {
  color: #fff;
  font-size: 1.2rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 5px;
}

/* Top Part */
.todo-section {
  background-color: rgba(241, 241, 241, 0.459);
  padding: 0.8rem;
  font-size: 3rem;
  border-radius: 3%;
}

form {
  background-color: #4b3869;

  padding: 1.5rem;
  color: white;
  border-radius: 3%;
  text-align: center;
}

input[type='text'] {
  outline: none;
  width: 80%;
  height: 2rem;
  text-align: center;
  border: none;
  background-color: #63b4b8;
  color: #fff;
  border-radius: 3%;
  font-size: 1.2rem;
}

input[type='submit'] {
  text-align: center;
  width: 18%;
  height: 2rem;
  background-color: #63b4b8;
  outline: none;
  border: none;
  color: #fff;
  border-radius: 3%;
  cursor: pointer;
  transform: scale(1);
  transition: ease-out 0.2s;
  font-size: 1.2rem;
}

input[type='submit']:hover {
  transform: scale(1.1);
  transition: ease-out 0.2s;
}
/* Bottom part */

.task-section {
  background-color: rgba(241, 241, 241, 0.459);
  padding: 0.5rem;
  font-size: 1.5rem;
}

.task-container {
  background-color: #4b3869;
  margin: 1rem 0;
  padding: 1.5rem;
  color: white;
  border-radius: 3%;
}
